@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    background-color: rgb(40, 44, 52);
    font-family: 'Roboto', sans-serif;
    color: rgb(157, 165, 180);
    margin: 0;
    line-height: 160%;
    font-weight: 300;
    height: 100%;
}

h3 {
    margin: 0;
    color: #17B0D6;
}


/*Scroll bar*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(90, 94, 102);
}


/*Searchbar*/

.searchbar {
    background-color: rgb(33, 37, 43);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
    border-bottom: 1px solid rgb(20, 20, 20);
    white-space: nowrap;
    box-sizing: border-box;
}

.searchbar form {
    display: inline-block;
    box-sizing: border-box;
}

.searchbar select {
    border: 0;
    margin-right: 10px;
    width: 219px;
    padding: 10px;
    font-size: 16px;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(40, 44, 52);
    color: rgb(157, 165, 180);
}

.searchbar input {
    padding: 10px;
    font-size: 16px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
}

.searchbar input[type=text] {
    background-color: rgb(40, 44, 52);
    color: rgb(157, 165, 180);
    /*width: 100%;*/
}

.searchbar input[type=button] {
    color: #EAEAEA;
    background-color: #1D8BE6;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    /*min-width: 200px;*/
}

.searchbar input[type=button]:hover {
    background-color: #16578C;
}


/*Sidebar*/

.sidebar {
    background-color: rgb(33, 37, 43);
    border-right: 1px solid rgb(20, 20, 20);
    position: fixed;
    top: 58px;
    left: 0;
    width: 240px;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.sidebar .user {
    float: left;
    clear: left;
    width: 100%;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.sidebar .user:hover {
    color: #1D8BE6;
}

.sidebar .selected {
    background-color: rgb(40, 44, 52);
    cursor: default;
}

.sidebar .selected:hover {
    color: rgb(157, 165, 180);
}


/*Main*/

.main {
    position: absolute;
    padding: 20px;
    right: 0;
    top: 58px;
    left: 240px;
    z-index: 0;
}


/*Tables*/
.itemTable{
	clear: both;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
	width: 100%;
}

table thead tr {
    background-color: rgb(45, 49, 58);
    border: 1px solid rgb(30, 30, 30);
}

table td {
    padding: 10px;
    border: 1px solid rgb(30, 30, 30);
}

table th {
    background-color: rgb(45, 49, 58);
    border: 1px solid rgb(30, 30, 30);
    color: white;
    text-align: left;
    padding: 10px;
}
